body {
  width: 100%;
  color: black;
  background: #E6E6FA;
}
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.header {
  width: 100%;
}
.shortinfo {
  text-align: center;
}
.log {
  width: 70%;
}
.call {
  width: 40%;
  float: left;
  margin-top: 50px;
}
.openhours {
  float: right;
  width: 45%;
  margin-right: 10px;
}
* {
  margin: 0;
  padding: 0;
}
.top {
  width: 50px;
}
.topbutton {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
#menu {
  width: 100%;
  background-color: #d8bfd8;
  border-radius: 6px;
  display: table;
  margin-top: 10px;
}
#menu li {
  display: block;
  float: left;
  position: relative;
}
#menu li a {
  display: table;
  padding: 0 64px;
  text-align: center;
  font: 15px/50px arial;
  color: black;
  text-decoration: none;
}
#menu li a:hover + .sub-menu {
  display: block;
}
#menu li:hover a {
  color: #C71585;
}
#menu li:hover > ul {
  opacity: 1;
}
#menu li:hover .sub-menu a {
  background-color: #BC8F8F;
  color: black;
}
#menu li:hover .sub-menu a:hover {
  background-color: #DDA0DD;
}
#menu li ul {
  z-index: 20;
}
#menu .sub-menu li {
  float: none;
}
#menu .sub-menu li a {
  min-width: 100%;
  padding: 0 11px;
  text-align: center;
}
.sub-menu {
  opacity: 0;
  position: absolute;
}
.sub-menu:hover {
  display: block;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.content {
  margin: 20px auto 0;
  width: 100%;
}
.mainbar {
  float: left;
  width: 70%;
  border-radius: 6px;
}
.contactpic {
  width: 100%;
}
.mainpicture {
  display: inline-block;
  position: relative;
}
.mainpicture span {
  font-size: 35px;
}
.textonpic {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  padding: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
}
.form {
  width: 100%;
  margin-top: 40px;
  background-color: #d8bfd8;
  border-radius: 6px;
}
.form h2 {
  font-size: 25px;
  text-align: center;
  font-family: Georgia;
  padding-top: 25px;
}
.form ol {
  list-style: none;
  margin-top: 15px;
}
.form ol li {
  text-align: center;
  padding-top: 15px;
}
.form ol li label {
  display: block;
  font-size: 25px;
  margin-bottom: 10px;
}
.form ol li textarea {
  width: 60%;
  border: 1px solid #D3D3D3;
}
.message {
  width: 60%;
  border: 1px solid #D3D3D3;
  height: 35px;
}
.submit {
  height: 30px;
  width: 15%;
  margin-bottom: 15px;
}
.clr {
  clear: both;
}
.sidebar {
  float: right;
  width: 28%;
}
.sidebar h2 {
  color: #3f3f3f;
  font-family: Georgia;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 15px;
}
.sidebar h3 {
  color: #3f3f3f;
  font-family: Georgia;
  font-size: 17px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.sidebar h5 {
  color: #3f3f3f;
  font-family: Georgia;
  font-size: 23px;
  margin-top: 25px;
  margin-left: 3px;
}
.newbakery {
  width: 100%;
  height: 230px;
}
.sharebuttons {
  text-align: center;
}
.share {
  width: 40%;
  margin-top: 10px;
}
.apppicture {
  width: 100%;
  margin-top: 20px;
}
.topposts h4 {
  color: #4B0082;
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}
.topposts p {
  color: #4B0082;
  margin-top: 12px;
  font-size: 20px;
}
.topposts a {
  color: #4B0082;
}
.topposts:hover {
  color: #DA70D6;
}
.date {
  color: #8A2BE2;
  margin-top: 10px;
  font-size: 15px;
}
.footer {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #d8bfd8;
  border-top: 1px solid #8A2BE2;
  color: #191970;
}
.follow {
  width: 30%;
  height: 320px;
  float: left;
  background-color: #d8bfd8;
}
.follow p {
  font-size: 30px;
  text-align: center;
  margin-top: 80px;
}
.add {
  height: 45px;
  margin: 20px 10px;
}
.mapinfo {
  width: 40%;
  background-color: #d8bfd8;
  height: 320px;
  float: left;
}
.map {
  width: 90%;
  height: 300px;
  border: 0;
  margin: 10px 20px;
}
.contactus {
  width: 30%;
  height: 320px;
  float: left;
  background-color: #d8bfd8;
}
.contactinfo {
  margin-left: 25px;
  margin-top: 50px;
}
.contactinfo p {
  font-size: 18px;
  padding-top: 7px;
  font-family: #d8bfd8;
}
.contactinfo p span {
  color: black;
}
@media screen and (max-width: 1020px) {
  #menu li a {
    padding: 0 40px;
  }
}
@media screen and (max-width: 768px) {
  .textonpic {
    padding: 10px;
  }
  .contactinfo {
    margin-left: 8px;
  }
  .contactinfo p {
    font-size: 11px;
    padding-top: 7px;
    font-family: #d8bfd8;
  }
  .add {
    height: 45px;
    margin: 20px 2px;
  }
  .mainpicture span {
    font-size: 15px;
  }
  .log {
    margin-bottom: 15px;
  }
  .sub-menu {
    position: static;
    display: none;
  }
  #menu {
    width: 100%;
  }
  #menu li {
    width: 100%;
    padding: 0px;
  }
  #menu li a {
    width: 100%;
    padding: 0px;
  }
  #menu .sub-menu li a {
    padding: 0px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    width: 320px;
  }
  .topbutton {
    right: 20px;
  }
  .call {
    visibility: hidden;
    display: none;
  }
  .openhours {
    visibility: hidden;
    display: none;
  }
  .mainbar {
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar {
    float: none;
    width: 80%;
    margin: 0 auto;
  }
  .sidebar h2 {
    text-align: center;
  }
  .sidebar h3 {
    text-align: center;
  }
  .sidebar h5 {
    text-align: center;
  }
  .follow {
    width: 100%;
    float: none;
    height: 200px;
  }
  .follow p {
    margin-top: 40px;
  }
  .mapinfo {
    height: 320px;
    width: 100%;
    float: none;
  }
  .contactus {
    width: 100%;
    float: none;
    height: 240px;
  }
  .add {
    margin: 20px 15px;
  }
  .map {
    margin: 10px 16px;
  }
  .contactinfo {
    margin-top: 25px;
  }
  .contactinfo p {
    text-align: center;
    font-size: 23px;
  }
}
